##############################################
# Visual Studio
##############################################

.vs/
*.user
*.VC.db
*.VC.opendb
*.suo
*.cache
*.aps
*.ncb
*.opensdf
*.sdf
*.ipch/

##############################################
# Build Results
##############################################

Debug/
Release/
x64/
x86/
build/
[Bb]in/
[Oo]bj/

*.exe
*.dll
*.pdb
*.ilk
*.lib
*.exp

##############################################
# CMake (if you ever use it)
##############################################

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

##############################################
# Logs
##############################################

*.log

##############################################
# OS Files
##############################################

Thumbs.db
.DS_Store

##############################################
# Temporary files
##############################################

*.tmp
*.temp

##############################################
# Raylib specific (optional if static linked)
##############################################

*.a